@import "tailwindcss";

#tasklist::-webkit-scrollbar{
    display : none;
}

body{
    background-color: #1C1C1C;
    color : white;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}